<!-- <h1>{{ nombre | titlecase }}</h1>
<h1>{{ valor | number }}</h1>
<h1>{{ obj | json }}</h1>

<button 
    pButton (click)="mostrarNombre()"
    icon="pi pi-user"
    iconPos="right"
    class="p-button-help"
    label="Cambiar Nombre"
    ></button>


<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam libero earum. Repudiandae in quo, laboriosam explicabo, doloribus autem doloremque delectus id hic velit fugit, itaque incidunt impedit harum dolorum.
</p-card> -->
<!-- 
<p-menubar [model]="items">
    <input type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="pi pi-power-off"></button>
</p-menubar> -->

<app-menu></app-menu>

<router-outlet></router-outlet>